body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

.input {
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
        width: 100%;
        height: 24px;
    }

    select {
        height: 24px;
        width: 100%;
    }
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        font-weight: bold;
    }
}
